<!DOCTYPE html>
<html lan="en">
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>

    {% block content %}
    {% endblock %}


    {% block extra_body %}
    {% endblock %}
  </body>
</html>