{% extends 'base/base_app.html'%}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}

{% block content %}
    {% include 'base/menu.html' %}

    {% include 'base/calendar.html'%}

    {% for reminder in reminders %}
        <div class="card mt-5">
            <div class="card-body">
                <p>Related Name: {{ reminder.related_person_name }}</p>
                <p>Description: {{ reminder.description }}</p>
                <p>Date: {{ reminder.date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_body %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://unpkg.com/daysjs"></script>
{% endblock %}