{% extends 'base/base_app.html'%}
 	
{% block extra_head %}
    <link rel="stylesheet" href="dates/style/css/calendar.css">
{% endblock %}

{% block content %}
    {% include 'base/menu.html' %}

    <div id="app"></div>    

    {% for reminder in reminders %}
        <div class="card mt-5">
            <div class="card-body">
                <p>Related Name: {{ reminder.related_person_name }}</p>
                <p>Description: {{ reminder.description }}</p>
                <p>Date: {{ reminder.date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_body %}
    <script src="dates/style/javascript/index.js"></script>
{% endblock %}